<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<form action="addUser" method="post">

<input style="margin-bottom: 10px;" name="name" type="text" placeholder="Enter Name"><br>


<input style="margin-bottom: 10px;" name="email" type="email" placeholder="Enter Email"> <br>

<input style="margin-bottom: 10px;" name="password" type="password" placeholder="Enter Password"><br>

<input style="margin-bottom: 10px;" name="contact" type="number" placeholder="Enter Contact Number"><br>

<button>Submit</button>



</form>



<button><a th:href="@{showData}">ADD DATA</a></button>
</body>
</html>